<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- Reading property file -->
	<context:property-placeholder location="classpath:owner.properties"/>
	
	<!-- IOC and DI -->
	<bean id="happyFortuneService" 
	      class="sachinmukherjee.spring_basics.services.HappyFortuneService">
	</bean>	
	
	    
    <bean id="cricketCoach"
          class="sachinmukherjee.spring_basics.coach.Cricket">
          <constructor-arg ref="happyFortuneService" />
    </bean>
    
    <!-- DI using Setter Method -->
    <bean id="hockeyCoach"
    	  class="sachinmukherjee.spring_basics.coach.Hockey"
    	  scope="singleton"
    	  init-method="welcome"
    	  destroy-method="goodBye"
    	  >
    	  <property name="service" ref="happyFortuneService" />
    	  <!-- Injecting property name using property file -->
    	  <property name="ownerName" value="${owner.name}" />
    	  <property name="ownerSurname" value="${owner.surname}" />
	</bean>

</beans>
